// color variables

$bg-color-1: #ffffff;
$bg-color-2: #f4e6c9;
$bg-color-3: #d9d6cf;
$h-color: red;
$p-color: darkblue;
$b-color-1: black;
$b-color-2: orange;
$b-color-3: green;
$b-color-4: lightblue;

// typography

$font-fam: Helvetica, san-serif;
$font-sm: .6em;
$font-m: 1em;
$font-l: 1.2em;
$font-x: 4em;

// padding

$ps: 10px;
$pm: 20px;
$pl: 30px;

// margin

$ms: 10px;
$mm: 20px;
$ml: 30px;
$mx: 10%;

// border size
$bs-s: 1px;
$bs-m: 3px;
$bs-l: 5px;

// border radius

$br-1: 10px;
$br-2: 20px;

// media screens

$S:     768px;   
$M:     1024px;     
$L:     1600px; 